extends layout

block content
    .mdl-grid.portfolio-max-width
        each project in context.projects
            .mdl-cell.mdl-card.mdl-shadow--4dp.portfolio-card
                .mdl-card__media
                    .img-container
                        img.article-image(src='/assets/images/' + project.getBackground(), border='0', alt='')
                .mdl-card__title
                    h2.mdl-card__title-text=project.getTitle()
                .mdl-card__supporting-text=project.getDescription()
                .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href=project.getLink())=project.getLinkText()
        .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
            .mdl-card__title
                h2.mdl-card__title-text Work Experience
            .mdl-card__media
                img.article-image(src='/assets/images/job-header.jpg', border='0', alt='')
            .mdl-grid.portfolio-copy
                each job in context.jobs
                    h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline
                        a(href=job.link)=job.name
                        = ' (' + job.time + ')'
                    .mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
                        p
                            strong Skills:
                            =' ' + job.skills
                        p=job.experience